.body {
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    font-family: Arial, sans-serif;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vh;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container > div {
    margin: 10px 0;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
