
.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    height: 100vh;
  }

  .main-container h2,
  .main-container h4 {
    margin: 10px 0;
  }
  
  .main-container p {
    margin-bottom: 20px;
    font-style: italic;
  }
  

  .main-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  .course-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; 
    text-align: center;
  }
  
