.content {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.content h1 {
    margin: 10px 0;
    font-size: 24px;
}
.content p {
    margin: 20px 0;
    font-size: 18px;
}
.content i {
    font-size: 48px;
    margin: 20px 0;
    color: #333;
}
.content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.content button:hover {
    background-color: #45a049;
}
